{% extends "base.html" %}

{% block app_content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Calendar</title>
    <link rel="stylesheet" href="static/css/Events.css" />
  </head>
  <body>
    <div class="event-container">
      <h3 class="year">2020</h3>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">4</div>
            <div class="month">MAR</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">Web Design and UX/UI - An Introduction Online Course</h3>

          <div class="event-description">
            This short course will provide you with an introduction to UX concepts and libraries that can be used for small and meduim businesses. it will look atthe following topics with time to look at.... 
          </div>

          <div class="event-timing">
            <img src="static/images/time.png" alt="" /> 10:00 am
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">14</div>
            <div class="month">Dec</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">Adobe Photoshop CC Introduction 2 Days </h3>

          <div class="event-description">
            Learn Adobe Photoshop CC in Cardiff with this hands-on 2 day introduction ideal for any beginner-intermediate creative. Regular dates & small classes

          </div>

          <div class="event-timing">
            <img src="static/images/time.png" alt="" /> 10:45 am
          </div>
        </div>
      </div>

      <h3 class="year">2022</h3>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">16</div>
            <div class="month">Dec</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">Growth Hacking</h3>

          <div class="event-description">
            The event, Hotjar for Growth Hacking, will be running in Cardiff from 2022-12-15 09:30:00 to 2022-12-16 16:30:00. Hotjar is a tool that reveals user interaction and behavior. With Hotjar...
          </div>

          <div class="event-timing">
            <img src="static/images/time.png" alt="" /> 13:00
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">22</div>
            <div class="month">Dec</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">Web Development With Bubble -Leeds</h3>

          <div class="event-description">
            The event, Web Development with Bubble, will be running in Leeds on 2022-12-22 09:30:00. Bubble is a visual programming framework. Bubble provides users the ability to create web applications with...
          </div>

          <div class="event-timing">
            <img src="static/images/time.png" alt="" /> 15:30
          </div>
        </div>
      </div>

      <h3 class="year">2023</h3>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">20</div>
            <div class="month">Jan</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">Go Deep with Agile Artifacts</h3>

          <div class="event-description">
            The event, Web Development with Bubble, will be running in Leeds on 2022-12-22 09:30:00. Bubble is a visual programming framework. Bubble provides users the ability to create web applications with...
          </div>

          <div class="event-timing">
            <img src="static/images/time.png" alt="" /> 17:00 
          </div>
        </div>
      </div>

      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">10</div>
            <div class="month">Feb</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">Behind the scenes Scrum</h3>

          <div class="event-description">
            The event, Web Development with Bubble, will be running in Leeds on 2022-12-22 09:30:00. Bubble is a visual programming framework. Bubble provides users the ability to create web applications with...
          </div>

          <div class="event-timing">
            <img src="static/images/time.png" alt="" /> 12:00 am
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}