{% extends "base.html" %}

{% block app_content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/FAQ.css">

</head>

<body>

  <center><h2 class="py-2 bg-success">Announcements</h2></center>
  <div class="container py-4 over">
      {% for d in data %}
        <hr>
        <h2 style="text-align: justify;">Title: {{ d.title }}</h2>
        <p style="text-align: justify;">{{ d.body }}</p>
        <hr>
      {% endfor %}
  </div>

</body>


</html>
{% endblock %}